    <div id="naveffect" class="overlay" onclick="closeNav()"></div>

    <div id="header" class="header">
        <div onclick="openNav()" class="hamburger"><img class="hamburger" src="images/menuwhite.png"></div>
        <div class="homepagetitle">Go Out</div>
        <div class="filter"><img class="filter" src="images/filter_icon.png"></div>
    </div>


    <div id="mySidenav" class="sidenav">
        <a href="/profile" class="myprofile"><span>My Profile</span></a>
        <a href="/events" class="eventslist"><span>Events List</span></a>
        <a href="/calendar" class="eventcalender"><span>Event Calender</span></a>
        <a href="/favourites" class="myfavourites"><span>My Favourites</span></a>
        <a href="/settings" class="settings"><span>Settings</span></a>
    </div>
    <div id="maincontent">
            <div>
                Event Name: {{eventName}}<br>
                Address: {{address}}<br>
                Date: {{date}}<br>
                Requirements: {{requirements}}<br>
                Cost: {{cost}}<br>
                Max People: {{maxPeople}}<br>
                {{#if private}}Private<br>{{/if}}
                Time: {{time}}<br>
                <a href='/'>Home Page</a>
            </div>
    </div>
    <div id="footer">
        <nav>
            <a class="home" href="/">
                    <img src="images/homeicontest.svg">
                </a>
            <a class="search" href="/search">  
                    <img src="images/searchicontest.svg">
                </a>
            <a class="plus" href="/addEvent">
                    <img src="images/plusicontest.svg">
                </a>
            <a class="friends" href="/friends">
                    <img src="images/homeicontest.svg">
                </a>
            <a class="message" href="/messages">
                    <img src="images/homeicontest.svg">
                </a>
        </nav>

    </div>