    <div id="naveffect" class="overlay" onclick="closeNav()"></div>

    <div id="header" class="header">
        <div onclick="openNav()" class="hamburger"><img class="hamburger" src="/images/menuwhite.png"></div>
        <div class="homepagetitle">Go Out</div>
        <div class="filter"><img class="filter" src="/images/filter_icon.png"></div>
    </div>


    <div id="mySidenav" class="sidenav">
        <a href="/profile" class="myprofile"><span>My Profile</span></a>
        <a href="/events" class="eventslist"><span>Events List</span></a>
        <a href="/calendar" class="eventcalender"><span>Event Calender</span></a>
        <a href="/favourites" class="myfavourites"><span>My Favourites</span></a>
        <a href="/settings" class="settings"><span>Settings</span></a>
    </div>
    <div id="maincontent">
            <div>
                Name {{user.firstName}} {{user.lastName}}<br>
                Age: {{user.age}}<br>
                {{#if user.friend}}
                Friends:
                {{#each user.friends}}
                <a href='/user/{{this._id}}'>{{this.firstName}} {{this.lastName}}</a>
                {{/each}}
                {{/if}}
                {{#if addFriend}}
                <a href='/addFriend/{{_id}}'>Add as Friend</a>

                {{/if}}
            </div>
            {{#each event}}
            <a href='/event/{{this.eventInfo._id}}'>
            <div>
                <br>
                Event Name: {{this.eventInfo.eventName}}<br>
                Address: {{this.eventInfo.address}}<br>
                Date: {{this.eventInfo.date}}<br>
                Requirements: {{this.eventInfo.requirements}}<br>
                Cost: {{this.eventInfo.cost}}<br>
                Max People: {{this.eventInfo.maxPeople}}<br>
                {{#if this.eventInfo.private}}Private<br>{{/if}}
                Time: {{this.eventInfo.time}}<br>
                Going?: {{this.going}}
                <br>
            </div>
        </a>
        {{/each}}
    </div>
    <div id="footer">
        <nav>
            <a class="home" href="/">
                    <img src="/images/homeicontest.svg">
                </a>
            <a class="search" href="/search">  
                    <img src="/images/searchicontest.svg">
                </a>
            <a class="plus" href="/addEvent">
                    <img src="/images/plusicontest.svg">
                </a>
            <a class="friends" href="/friends">
                    <img src="/images/homeicontest.svg">
                </a>
            <a class="message" href="/messages">
                    <img src="/images/homeicontest.svg">
                </a>
        </nav>

    </div>